<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

    <suite name="All Test Suite">

        <listeners>
            <listener class-name="listeners.Listeners"> </listener>
        </listeners>

        <parameter
                name="browser" value="chrome">
        </parameter>

        <test verbose="2" preserve-order="true" name="End To End Test">
            <classes>
                <class name="pageTest.loginTest"> </class>
                <class name="pageTest.addToCartTest"> </class>
                <class name="pageTest.accountTest"> </class>
            </classes>
        </test>
    </suite>
